
/* 잠시 사용하는 css */
@mixin temp($imageW , $imageNum) {
    #{$imageW}: $imageNum;
}
.pages {
    .section {
        .img img {width: 100%;}
        &:nth-child(1) {
            background: #fff;
            .img {
                position: absolute;
                bottom: 0;
            }
        }
        &:nth-child(2) {
            background: #000;
            .section__body {
                height: 100%;
                * {color: #fff;}
                .bx-wrapper {
                    height: 100%;
                }
                strong {
                    font-size: 42px;
                    font-weight: 500;
                }
            }
        }
        &:nth-child(3) {
            background: #fff;
        }
    }
}